.popupEdit__container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #fff;
    max-width: 430px;
    width: 100%;
    position: relative;
    top: 5px;

}

@media screen and  (max-width: 470px) {
    .popupEdit__container {
        top: 0;
        max-width: 282px;
    }
}