.header__link {
  margin-top: 6px;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
}

.header__link:hover {
  color: rgba(255, 255, 255, 0.7);
  transition: 0.3s;
}
  
@media screen and (max-width: 767px) {
  .header__link {
    margin-right: calc(30/320*100%);
    margin-top: calc(6/320*100%);
  }
}