.logo {
    max-width: 142px;
    margin-top: 0;
    margin-left: 0;
}

@media screen and (max-width: 900px) {
    .logo {
        max-width: 32.5%;
        margin-top: 28px;
        margin-left: 27px;
    }
}