.popup {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, .9);
    transition: visibility 0s, opacity 0.2s ease-in;
}