.login__subtitle {
  margin: 15px 0 0 0;
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}
  
.login__subtitle-link {
  text-decoration: none;
  color: #fff;
}
.login__subtitle-link:hover {
  color: rgba(255, 255, 255, 0.7);
  transition: 0.3s;
}